/*----------------------------------------------------------------------------
layout.css
Enthält alle übergreifenden typographischen Regeln.

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Content
-----------------------------------------------------------------------------*/

.navbar-main {
  background-color: #333;
}

.navbar {
  max-width: 960px;
}

.content {
    max-width: var(--content-width);
    margin: 0 auto;
}


/* Section
-----------------------------------------------------------------------------*/

.section {
    padding-bottom: var(--space-stack-xl);
}
